<div class="row">
    <div class="col-12">
        <p class="lead">Recipe {{ editMode ? 'Edit' : 'Add'}}</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
            <!-- save/cancel buttons -->
            <div class="row">
            <div class="col-8 d-flex justify-content-between">
                <button class="btn btn-success" [disabled]="!recipeForm.valid" type="submit">Save</button>
                <button (click)="onCancel()" class="btn btn-danger" type="button">Cancel</button>
            </div>
            </div>
            <!-- form input name-->
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <!-- form input image path -->
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="imgPath">Image URL</label>
                        <input type="text" id="imgPath" class="form-control" formControlName="imgPath" #imgagePath>
                    </div>
                </div>
            </div>
            <!-- preview image -->
            <div class="row">
                <div class="col-8">
                    <img src="{{  imgagePath.value }}" class="img-fluid">
                </div>
            </div>
            <!-- form description -->
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" rows="6" class="form-control" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <!-- form ingredients  -->
            
            <div formArrayName="ingredients" mt-2>
                <label for="">Ingredients</label>
                <div class="row" *ngFor="let ingredient of getControls(); let i = index" [formGroupName] = 'i'>
                <div class="col-5">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>       
                <div class="col-2">
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                </div>
                <div class="col-1">
                    <button (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
                </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
