<div class="row my-2">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
            <!-- jumbotron title -->
            <h1 class="display-4">{{recipe.name}}</h1>
            <!-- jumbotron description -->
            <p class="lead">{{recipe.description}}</p>
            <hr class="my-3">
            <p>Ingredients</p>
            </div>
        </div>

            <!-- button menus -->
                <div class="row">
                    <div class="col-6">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Add to Shopping List</a> 
                    </div>
                    <div class="col-6">
                    <div class="btn-group float-right" role="group">
                        <button 
                        id="btnGroupDrop" 
                        type="button" 
                        class="btn btn-secondary btn-lg dropdown-toggle"
                        data-toggle="dropdown">Action</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Edit</a>
                            <a href="#" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div> 
            <!-- end button container -->
           
        </div>
    </div>
</div>