<div class="row my-2">
    <div class="col-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
            <!-- jumbotron title -->
            <h1 class="display-4">{{recipe.name}}</h1>
            <!-- jumbotron description -->
            <p class="lead">{{recipe.description}}</p>
            <hr class="my-3">
            <!-- ingredient list --> 
                <div class="m-3">
                <p class="lead display-5">Ingredients</p>    
                <ul class="list-group" *ngFor="let ingredient of recipe.ingredients" >
                    <li class="list-group-item list-group-item-dark">{{ ingredient.name }} - {{ ingredient.amount }}</li>
                </ul>
                </div>
            </div>
        </div>
            <!-- button menus -->
                <div class="row">
                    <div class="col-6">
                    <button (click)="addToShoppingList()" class="btn btn-primary btn-lg">Add to Shopping List</button> 
                    </div>
                    <div class="col-6">
                    <div class="btn-group float-right" role="group">
                        <button 
                        id="btnGroupDrop" 
                        type="button" 
                        class="btn btn-secondary btn-lg dropdown-toggle"
                        appDropdown
                        data-toggle="dropdown">Action</button>
                        <div class="dropdown-menu" style="cursor: pointer">
                            <a (click)="onEditRecipe()" class="dropdown-item">Edit</a>
                            <a (click)="onDeleteRecipe()" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </div> 
            <!-- end button container -->
           
        </div>
    </div>
</div>