<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container"> 
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes> 
      <app-shopping-list *ngIf="loadedFeature === 'shoppinglist'"></app-shopping-list> -->
   
       <!-- use fixed-bottom for sticky footer -->
      <footer class="bg-dark py-4 mt-5"> 
            <p class="m-0 text-center text-white">Copyright &copy; Angular 8 Complete Guide 2020</p>
      </footer>
</div>