<div class="row">
    <div class="col-12">
        <p class="lead mt-1">Ingredients</p>
        <form>
            <!-- input row -->
           <div class="row">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        #nameInput>
                </div>
                <div class="col-2 form-group">
                    <label for="Amount" for="amount">Amount</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="amount"
                        #amountInput>  
                </div>
            </div>
            <!-- button row -->
            <div class="row form-group mb-5">
                <div class="col-sm-12">
                    <div class="btn-group">
                    <button (click)="onAddItem()" type="button" class="btn btn-success rounded ml-0">Add</button>
                    <button class="btn btn-danger rounded">Delete</button>
                    <button class="btn btn-primary rounded">Clear</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
