<div class="row">
    <div class="col-12">
        <p class="lead mt-1">Ingredients</p>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <!-- input row -->
           <div class="row">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        name="name"
                        ngModel
                        required
                        >
                </div>
                <div class="col-2 form-group">
                    <label for="Amount" for="amount">Amount</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        id="amount"
                        name="amount"
                        ngModel
                        required
                        pattern="^[1-9]+[0-9]*$"
                        >  
                </div>
            </div>
            <!-- button row -->
            <div class="row form-group mb-5">
                <div class="col-sm-12">
                    <div class="btn-group">
                    <button type="submit" [disabled]="!f.valid" class="btn btn-success rounded ml-0">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button class="btn btn-danger rounded" (click)="onDelete()" *ngIf="editMode">Delete</button>
                    <button class="btn btn-primary rounded" (click)="onClear()" type="button">Clear</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
